@charset "UTF-8";
/*Icons: Ionicons pack: http://ionicons.com/ */
/*Colors: Material Colors: material.io/guidelines/style/color.html#color-color-palette */
@font-face {
  font-family: "Ionicons";
  src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1");
  src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1") format("truetype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1") format("woff"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal;
}
h3 {
  color: #ED494E;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-shadow: 1px 1px 2px #5C5757;
  text-align: center;
  margin: 0;
  padding: 0;
}

hr {
  width: 20%;
  border: 0;
  border-top: 2px solid #494949;
  margin-bottom: 50px;
}

body {
  display: block;
  padding: 1em;
  font-size: 1.8em;
  background: #E9E9E9;
  color: #424242;
  font-family: "Roboto Slab";
}

.row {
  display: inline-block;
  padding: 1.2em;
}

p {
  font-size: 0.7em;
  text-align: center;
}

img {
  position: relative;
  top: -8px;
}

div {
  background: white;
  display: block;
  padding: 0.7em;
  box-shadow: 5px 2px 8px #757575;
  border-bottom: 1px solid #424242;
  width: 100%;
  position: relative;
}
div p {
  background: #e60052;
  font-size: 0.65em;
  margin: 0;
  padding: 0.25em;
  letter-spacing: 1.5px;
  position: absolute;
  left: 0;
  top: -25px;
  color: white;
  box-shadow: 1px 2px 4px #757575;
  z-index: 2;
}

label {
  cursor: pointer;
}
label input[type="checkbox"] {
  display: none;
}
label input[type="checkbox"] + .label-text:before {
  font-family: "Ionicons";
  content: "";
  color: #F50057;
  display: inline-block;
  padding-right: 0.3em;
}
label input[type="checkbox"]:checked + .label-text::before {
  content: "";
  padding-right: 0.3em;
  color: #F50057;
  animation: check 0.2s ease-in-out;
}
label input[type="checkbox"]:disabled + .label-text {
  color: #BDBDBD;
  cursor: not-allowed;
}
label input[type="checkbox"]:disabled + .label-text:before {
  content: "";
  cursor: not-allowed;
  color: #BDBDBD;
}
label input[type="checkbox"] + .label-text2::before {
  font-family: "Ionicons";
  content: "";
  color: #F50057;
  display: inline-block;
  padding-right: 0.3em;
}
label input[type="checkbox"]:checked + .label-text2::before {
  content: "";
  padding-right: 0.3em;
  color: #F50057;
  animation: check2 0.2s ease-in-out;
}
label input[type="checkbox"]:disabled + .label-text2 {
  color: #BDBDBD;
  cursor: not-allowed;
}
label input[type="checkbox"]:disabled + .label-text2:before {
  content: "";
  cursor: not-allowed;
  color: #BDBDBD;
}
label input[type="radio"] {
  display: none;
}
label input[type="radio"] + .label-text:before {
  font-family: "Ionicons";
  content: "";
  color: #F50057;
  display: inline-block;
  padding-right: 0.3em;
}
label input[type="radio"]:checked + .label-text::before {
  content: "";
  padding-right: 0.3em;
  color: #F50057;
  animation-fill-mode: forwards;
  animation: radio 150ms ease-in;
}
label input[type="radio"]:disabled + .label-text {
  color: #BDBDBD;
  cursor: not-allowed;
}
label input[type="radio"]:disabled + .label-text:before {
  content: "";
  cursor: not-allowed;
  color: #BDBDBD;
}

@keyframes check {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes check2 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes radio {
  0% {
    transform: scale(0.1);
  }
  60% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
